.side-bar {
  background-color: #393a44;
  min-width: 200px;
}

.free {
  color: green;
}

.occupied {
  color: red;
}

.tablesSection {
  flex-direction: column;
}

.indTable {
  margin-bottom: 15px;
  border: 1px solid powderblue;
  padding: 10px
}

.nameSection {
  margin: 3px;
}

#reservationsSection {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
}

#first_name, #last_name, 
#mobileId, #reservation_date, #reservation_time, 
#people, #subBtn, #canBtn {
  margin: 3px;
}

.formInput {
  width: 50%;
}

.buttonBox {
  display: flex;
}